

.header {
    width: 80%;
    margin: 0 auto;
    background: linear-gradient(to bottom, #00000089,#00000089),url('../images/Banner\ Image.png');
    height: 300px;
    background-size: cover;
    color: white;
    text-align: center;
    border-radius: 15px;
}
nav h1 {
    margin: 0;
    padding-top: 50px;
    font-size: 48px;
}
nav h5 {
    margin: 0;
    padding-top: 45px;
    font-size: 15px;
    letter-spacing: 2px;
    
}
.container{
    width: 80%;
    margin: 0 auto;
}
.content {
    padding: 50px;
    text-align: center;
}
.content-title {
    font-size: 36px;
    margin-bottom: 20px;
    color: red;
}
.content-text {
    font-size: 18px;
    line-height: 1.6;
}
.content-image {
    margin-top: 20px;
    width: 50%;
    height: 50%;
    border-radius: 10px;
}
.party {
    padding: 50px;
}
.party-section {
    background: linear-gradient(to right, #000000a4, #dddddd00),url('../images/Vectorrr.png');
    height: 300px;
    width: 100%;
    background-size: cover;
    color: rgb(239, 236, 236);
    
}
.place {
    padding: 50px;
    text-align: center;
    border: 1px ;
    border-radius: 3px;
    margin-bottom: 20px;
    background: linear-gradient(to Top,#ffffff, #fac2ac);
    margin-top: 30px;
}
.btn-primary {
    background-color: red;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
}
.offer {
    display: flex;
    align-items: center;
    margin-bottom: 30px;

}
.offer-img {
    width: 200px;
    height: 200px;
    border: 7px solid #eb0d0d;
    margin-right: 20px;
    border-radius: 100%;
    padding: 15px;
}
.sale {
    text-align: center;
}
.holi {
    color: red;
}
.sale-img {
    position: relative;
    background: red;
    height: 200px;
    margin-top: 300px;
    border-radius: 20px;
}
.sale-img .gift-boxes {
    position: absolute;
    bottom: 0;
    left: 60px;
    width: 500px;
    top: -240px;
    height: auto;
}

.sale-img .discount-badges{
    position: absolute;
    top: -250px;
    right: 20px;
    width: 250px;
    
}
.portfolio {
    margin-top: 30px;
    width: 1320px;
    height: 1160px;
    position: relative;


}
.portfolio-images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    
}
.portfolio-images img{
    max-width: 100%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
}
.portfolio-content {
    
}
.gift {
    margin-top: 20px;
    margin-bottom: 0px;
}
.form {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #f5dbdb;
}
.form-title {
    font-size: 28px;
    margin-bottom: 20px;
    letter-spacing: 2px;
}
.form-input {
    padding: 10px;
    width: 300px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
/* footer style */
.footer {
    background-color: #333;
    color: white; 
    padding: 20px 0;
    margin-top: 50px;
}
.footer-content {
    display: flex;
    justify-content: space-around;
}
.footer-contact {
    text-decoration: none;
    color: white;
    flex: 1;
    text-align: right;
}
.footer-links {
    flex: 1;
    text-align: center;
    
}
.footer-copy {
    display: flex;
    justify-content: space-between;
    position: relative;
}
.footer-btn {
    text-align: right;
}